torch                     1.9.1+cu111 
torchaudio                0.9.1                   
torchvision               0.10.1+cu111        
pyyaml                    6.0          
numpy                     1.20.3
matplotlib                3.4.3
opencv-python             4.5.4.58
